.c-join-us h1 {
	color: #8d0126;
	font-size: 2rem;
	font-weight: 700;
}

.c-join-us h3 {
	color: #8d0126;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: center;
}

.c-join-us h4 {
	font-size: 1.2rem;
	text-align: center;
}
