.c-members h1 {
	color: #8d0126;
	font-size: 2rem;
	font-weight: 700;
}

.c-members .nav-tabs {
	border-color: #8d0126;
}

.c-members .nav-tabs {
	border-color: #8d0126;
}

.c-members .nav-link {
	color: #000;
}

.c-members .nav-link.active {
	border-color: #8d0126;
	border-bottom-color: #fff;
	color: #8d0126;
}

.c-member__role {
	display: inline-block;
	margin-right: 0.5rem;
}

.c-member__name {
	font-weight: 600;
}

.c-member__link a {
	text-decoration: none;
	color: #000;
}

.c-member__link svg {
	fill: #8d0126;
	margin-right: 0.5rem;
	transform: scale(1.25);
}

.c-member__hr {
	margin: 0.25rem 0.5rem 0 0.5rem;
	background-color: #000;
	opacity: 0.15;
}

.c-member__hr:not([size]) {
	height: 1px;
}
