.c-page-header {
	-webkit-box-shadow: 0px 11px 23px -25px rgba(141, 1, 38, 1);
	-moz-box-shadow: 0px 11px 23px -25px rgba(141, 1, 38, 1);
	box-shadow: 0px 11px 23px -25px rgba(141, 1, 38, 1);
}

/* LOGO */
.c-page-header__logo > img {
	margin-right: 1rem;
}

.c-page-header__logo h2 {
	font-size: 1.5rem;
	font-weight: 600;
	color: #8d0126;
	margin: 0;
}

.c-page-header__logo h3 {
	font-size: 1.2rem;
	color: #8d0126;
	margin: 0;
}

/* NAVIGATION */

.c-page-header__nav {
	margin-top: 0.75rem;
}

.c-page-header__nav .nav-link {
	font-size: 1.2rem;
	color: #000 !important;
	letter-spacing: 0;
	-webkit-transition: letter-spacing 0.7s ease;
	transition: letter-spacing 0.7s ease;
}

.c-page-header__nav .nav-link:hover,
.c-page-header__nav .nav-link.active {
	color: #8d0126 !important;
}
.c-page-header__nav .nav-link:hover {
	letter-spacing: 2px;
}

.c-page-header__nav .nav-link svg {
	width: 22px;
	height: 22px;
	margin-right: 0.25rem;
}

.c-page-header__toggler {
	border-color: #8d0126 !important;
	color: #981a3b !important;
	padding: 0.25rem 0.5rem;
}
.c-page-header__toggler svg {
	width: 28px;
	height: 28px;
}

@media (max-width: 992px) {
	.c-page-header__logo h2 {
		overflow-wrap: break-word;
		font-size: 1.2rem;
	}
	.c-page-header__logo h3 {
		font-size: 1rem;
	}
}

@media (max-width: 576px) {
	.c-page-header__logo > img {
		margin-right: 0.5rem;
	}
	.c-page-header__nav {
		margin-top: 0.25rem;
	}
}
